@font-face {
    font-family: 'Newborough';
    src: url('Newborough.woff2') format('woff2'),
        url('Newborough.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

